<%= with_header_and_footer do %>
  <div class="row-fluid admin" id="container">
    <article class="span8">
      <%= render 'layouts/partials/breadcrumbs' %>
      <%= yield %>
    </article>
    <aside class="span4">
      <% if content_for?(:sidebar) %>
        <%= yield(:sidebar) %>
      <% end %>
    </aside>
  </div>
<% end %>