// Require Twitter Bootstrap
@import "partials/bootstrap/bootstrap-base";

// Require shared styles between layouts
@import "partials/shared";

// Require application layout styles
@import "partials/application-layout";

// Require scaffolding styles for brand new Rocketscience app.
// (NB: Remove it when you start to develop your styles!)
@import "rocketscience";

// Include your custom app stylesheets below this line
// @import "news";

@import "rs_toolbar/rs_toolbar";

div.search {
  .control-label { display: none; }

  .controls {
    position: relative;

    input {
      padding-right: 22px;
      padding-left: 10px;
      @include border-radius(15px);
    }

    button {
      background: none;
      border: 0;
      position: absolute;
      margin: 5px 0 0 -27px;
    }

    button.search-submit {
      //display: none;
    }

    button.search-cleanup {
      display: none;
    }
  }
}

@import "rs_pages/rs_pages";