body {
  background: #424649 asset-url("rocketscience/backgrounds/bg3.gif", image);

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu Condensed'
  }

  header {
    color: #fff;
    margin: 30px 20px;
    position: relative;

    h1 {
      text-shadow: -1px -1px 0px #333;
      color: #fff;
    }

    a {
      position: absolute;
      right: 0;
      top: 10px;
      font-size: 120%;
      font-weight: bold;
      color: #fff;
      text-decoration: underline;
    }
  }

  footer {
    color: #fff;
    padding: 20px 0 20px 20px;

    p {
      font-size: 80%;
      margin: 0 0 3px 0;
      text-shadow: -1px -1px 0px #333;

      a {
        color: #fff;
        text-decoration: underline;

        &:hover {
          color: #D16D1C;
        }
      }
    }
  }

  #container {
    background: #fff asset-url("rocketscience/backgrounds/bg5.jpg", image);
    @include border-radius(4px);
    @include box-shadow(0 0 15px rgba(0, 0, 0, 0.5));

    article {
      padding: 20px 0 20px 20px;
    }

    aside {
      padding: 20px 20px 20px 0;
    }
  }
}