<%= heading_with_title 'Не получили инструкции по подтверждению аккаунта?' %>

<%= simple_form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>

    <%= f.input :email, :required => true %>
    <%= f.button :submit, "Переслать инструкции заново" %>
<% end %>

<%= render :partial => "devise/shared/links" %>