<%= heading_with_title t 'devise.registrations.signed_up_but_unconfirmed' %>

<p>Через несколько минут на ваш почтовый ящик придет письмо со ссылкой на подтверждение регистрации. Вам нужно нажать на эту ссылку, тогда регистрация будет окончена.</p>
