<%= heading_with_title 'Регистрация на сайте' %>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= f.input :email, :required => true, :autofocus => true %>
  <%= f.input :password, :required => true %>
  <%= f.input :password_confirmation, :required => true %>

  <%= f.button :submit, "Зарегистрироваться" %>
<% end %>

<%= render :partial => "devise/shared/links" %>
