@mixin btn-3d($backgroundColor, $backgroundHighlight, $textColor: #fff, $textShadow: 0 -1px 0 rgba(0,0,0,.25)) {
  @include buttonBackground($backgroundColor, $backgroundHighlight, $textColor, $textShadow);

  border: 1px solid $backgroundHighlight;
  border-bottom-color: darken($backgroundHighlight, 10%);
  margin-top: 0px;
  margin-bottom: 2px;

  @include box-shadow(#{inset 1px 1px lighten($backgroundColor, 12%), // btnBorderTopLeftColor
    inset -1px -1px lighten($backgroundHighlight, 5%), // btnBorderBottomRightColor
    0 1px darken($backgroundHighlight, 10%), // btnHeightColor
    0 2px darken($backgroundHighlight, 25%), // btnSocketColor
    1px 1px 3px rgba(darken($backgroundHighlight, 35%), 0.6)}); // btnShadowColor

  // Active state
  &.active,
  &:active {
    margin-top: 2px;
    margin-bottom: 0;
  }

  // Disabled state
  &.disabled,
  &[disabled] {
    margin: 0;
  }
}

// Small fix
.btn-group > .btn { position: static; }

@mixin btn-group-3d($backgroundColor, $backgroundHighlight, $textColor: #fff, $textShadow: 0 -1px 0 rgba(0,0,0,.25)) {
  @include buttonBackground($backgroundColor, $backgroundHighlight, $textColor, $textShadow);

  border: 1px solid $backgroundHighlight;
  border-bottom-color: darken($backgroundHighlight, 10%);
  margin-top: 0px;
  margin-bottom: 2px;

  @include box-shadow(#{inset 1px 1px lighten($backgroundColor, 12%), // btnBorderTopLeftColor
    inset -1px -1px lighten($backgroundHighlight, 5%), // btnBorderBottomRightColor
    0 1px darken($backgroundHighlight, 10%), // btnHeightColor
    0 2px darken($backgroundHighlight, 25%), // btnSocketColor
    1px 1px 3px rgba(darken($backgroundHighlight, 35%), 0.6)
  }); // btnShadowColor

  // Active state
  &.active,
  &:active {
    margin-top: 2px;
    margin-bottom: 0;
    @include box-shadow(#{inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05)});
  }

  // Disabled state
  &.disabled,
  &[disabled] {
    margin: 0;
  }
}
