@mixin btn-flat($backgroundColor, $backgroundHighlight, $substrateColor, $borderWidth, $textColor: #fff, $textShadow: 0 -1px 0 rgba(0,0,0,.25)) {
  @include buttonBackground($backgroundColor, $backgroundHighlight, $textColor, $textShadow);

  border: $borderWidth solid darken($substrateColor, 14%);
  margin: 0;

  @include box-shadow(#{
    inset $borderWidth $borderWidth lighten($backgroundColor, 8%), // btnBorderTopLeftColor
    inset (-$borderWidth) (-$borderWidth) lighten($backgroundHighlight, 5%),
    0 $borderWidth 0 rgba(lighten($substrateColor, 20%), 0.6)
  }); 

  // Active state
  &.active,
  &:active {
    margin: 0;
    padding-top: 4px + $borderWidth;
    padding-bottom: 4px - $borderWidth;
    @include box-shadow(#{0 $borderWidth 0 rgba(lighten($substrateColor, 20%), 0.6)});

    // Large buttons
    &.btn-large {
      padding-top: 9px + $borderWidth;
      padding-bottom: 9px - $borderWidth;
    }

    // Mini buttons
    &.btn-mini {
      padding-top: 2px + $borderWidth;
      padding-bottom: 2px - $borderWidth;
    }
  }


  // Disabled state
  &.disabled,
  &[disabled] {
    margin: 0;
  }
}

@mixin btn-group-flat($backgroundColor, $backgroundHighlight, $substrateColor, $borderWidth, $textColor: #fff, $textShadow: 0 -1px 0 rgba(0,0,0,.25)) {
  @include buttonBackground($backgroundColor, $backgroundHighlight, $textColor, $textShadow);

  border: $borderWidth solid darken($substrateColor, 14%);
  border-left: 0;
  margin: 0;

  @include box-shadow(#{
    inset $borderWidth $borderWidth lighten($backgroundColor, 8%), // btnBorderTopLeftColor
    inset (-$borderWidth) (-$borderWidth) lighten($backgroundHighlight, 5%),
    0 $borderWidth 0 rgba(lighten($substrateColor, 20%), 0.6)
  }); 

  // Active state
  &.active,
  &:active {
    margin: 0;
    @include box-shadow(#{inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05), 0 $borderWidth 0 rgba(lighten($substrateColor, 20%), 0.6)});
  }

  // Disabled state
  &.disabled,
  &[disabled] {
    margin: 0;
  }
}