      <footer>
        <p>&laquo;RocketScience&raquo;, <%= Time.now.year %></p>
        <p>Разработано в <a href="http://rocketscience.it">RocketScience</a>.</p>
      </footer>
    </div>
  </div>

  
  <%= javascript_include_tag "application" %>

  <%# if current_user.try(:admin?) %>
    <%#= include_imperavi_javascript %>
  <%# end %>

  <% if content_for? :javascript %>
    <%= yield :javascript %>
  <% end %>
</body>