<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <%= csrf_meta_tag %>

  <title><%= raw page_title %></title>
  <meta name="description" content="">
  <meta name="author" content="RocketScience">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="shortcut icon" href="/favicon.ico">
  <script>
    document.documentElement.className = document.documentElement.className.replace('no-js', 'js')
  </script>

  <%= airbrake_javascript_notifier if defined?(Airbrake) %>

  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <%= stylesheet_link_tag "application" %>
  <%# if current_user.try(:admin?) %>
    <%#= include_imperavi_stylesheet %>
  <%# end %>
</head>
<body id="<%= page_id %>" class="<%= 'signed-in' if user_signed_in? %>">
  <%= rs_toolbar %>

  <div class="container-wrapper">
    <div class="container">
      <%= flash_messages %>

      <header>
        <h1>Welcome aboard</h1>

        <% unless user_signed_in? %>
          <%= link_to 'Sign In', main_app.new_user_session_path %>
        <% end %>
      </header>
