@import "partials/bootstrap/mixins/btn_3d";

/////////////////////////////////////////////////////////////////////////////////////////////////////////
// Make standard buttons and buttons looks 3d-styled

.btn { @include btn-3d($btnBackground, $btnBackgroundHighlight, $grayDark, 0 1px 1px rgba(255,255,255,.75)); }
.btn-primary { @include btn-3d($btnPrimaryBackground, $btnPrimaryBackgroundHighlight); }
.btn-warning { @include btn-3d($btnWarningBackground, $btnWarningBackgroundHighlight); }
.btn-danger { @include btn-3d($btnDangerBackground, $btnDangerBackgroundHighlight); }
.btn-success { @include btn-3d($btnSuccessBackground, $btnSuccessBackgroundHighlight); }
.btn-info { @include btn-3d($btnInfoBackground, $btnInfoBackgroundHighlight); }
.btn-inverse { @include btn-3d($btnInverseBackground, $btnInverseBackgroundHighlight); }

// Link buttons
// --------------------------------------------------

// Make a button look and behave like a link
.btn-link,
.btn-link:active {
  background-color: transparent;
  background-image: none;
  @include box-shadow(none);
  text-shadow: none;
}
.btn-link {
  border-color: transparent;
  cursor: pointer;
  color: $linkColor;
  @include border-radius(0);
}
.btn-link:hover {
  color: $linkColorHover;
  text-decoration: underline;
  background-color: transparent;
}


//////////////////////////////////////////////////////////////////////////////////////////////////////////
// Styling button groups

// Default button
.btn-group > .btn + .btn.dropdown-toggle {
  @include btn-group-3d($btnBackground, $btnBackgroundHighlight, $grayDark, 0 1px 1px rgba(255,255,255,.75));
}

// Primary button
.btn-group > .btn + .btn-primary.dropdown-toggle {
  @include btn-group-3d($btnPrimaryBackground, $btnPrimaryBackgroundHighlight);
}

// Warning button
.btn-group > .btn + .btn-warning.dropdown-toggle {
  @include btn-group-3d($btnWarningBackground, $btnWarningBackgroundHighlight);
}

// Danger button
.btn-group > .btn + .btn-danger.dropdown-toggle {
  @include btn-group-3d($btnDangerBackground, $btnDangerBackgroundHighlight);
}

// Success button
.btn-group > .btn + .btn-success.dropdown-toggle { @include btn-group-3d($btnSuccessBackground, $btnSuccessBackgroundHighlight); }

// Info button
.btn-group > .btn + .btn-info.dropdown-toggle {
  @include btn-group-3d($btnInfoBackground, $btnInfoBackgroundHighlight);
}

// Inverse button
.btn-group > .btn + .btn-inverse.dropdown-toggle {
  @include btn-group-3d($btnInverseBackground, $btnInverseBackgroundHighlight);
}

// Handle open state for button dropdowns
.btn-group.open > .btn + .dropdown-toggle,
.btn-group.open .dropdown-toggle {
  margin-top: 2px;
  margin-bottom: 0;
  @include box-shadow(#{inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05)});
}