<%= heading_with_title 'Изменение пароля' %>

<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= f.input :reset_password_token, :as => :hidden %>
  <%= f.full_error :reset_password_token %>
  <%= f.input :password, :label => "Новый пароль", :required => true %>
  <%= f.input :password_confirmation, :label => "Подтвердите новый пароль", :required => true %>
  <%= f.button :submit, "Сменить пароль" %>
<% end %>

<%= render :partial => "devise/shared/links" %>