<%= heading_with_title 'Забыли пароль?' %>

<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>

    <%= f.input :email, :required => true %>
    <%= f.button :submit, "Прислать мне инструкции по сбросу пароля" %>
<% end %>

<%= render :partial => "devise/shared/links" %>