<script type="text/javascript">
  $(document).ready(function() {
    $('#<%= element %>').redactor({
      path:           '/imperavi-rails',
      lang:           '/imperavi-rails/languages/ru.js',
      toolbar:        '/imperavi-rails/toolbars/default.js',
      css:            '/assets/imperavi.css',
      imageUpload:    '/images',
      imageGetJson:   '/images.json'
    });
  });
</script>