<ul class="images">
  <%= form.simple_fields_for association do |image| %>
    <li class="image <%= image.object.present? && image.object.persisted? ? 'has-image' : '' %>">

      <% if image.object.present? && image.object.persisted? %>
        <%= image_tag image.object.send(attribute).thumb( defined?(size) ? size : "120x120#" ).url, :class => 'image' %>
      <% end %>

      <div class="control-group">
        <%= image.input attribute, :as => :file, :required => false, :validate => false %>
        
        <% unless image.object.new_record? %>
          <%= image.input :_destroy, :as => :boolean %>
        <% end %>
      </div>
    </li>
   <% end %>
</ul>