<% if form.object.errors.any? %>
  <div class="alert alert-error" id="error-notification">
    <h3 style="margin-top: 0; color: #BF1F1F;"><%= t 'simple_form.error_notification.default_message' %></h3>

    <ul>
      <% form.object.errors.each do |attr, msg| %>
        <li><%= msg %></li>  
      <% end %>
    </ul>
  </div>
<% end %>