<%= heading_with_title 'Укажите ваш новый пароль' %>

<%= simple_form_for resource, :as => resource_name, :url => invitation_path(resource_name), :validate => true, :html => { :method => :put } do |f| %>
  <%= f.input :invitation_token, :as => :hidden %>

  <%= f.input :password, :as => :password %>
  <%= f.input :password_confirmation, :as => :password %>

  <%= f.button :submit, 'Готово' %>
<% end %>