<%= heading_with_title 'Отправить приглашение' %>

<%= simple_form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :post} do |f| %>

  <%= f.input :email %>
  
  <%= f.association :roles,
    :collection    => Role.invitable_roles.map {|role| [t("simple_form.options.user.role.#{role.name}"), role.id] },
    :include_blank => false,
    :as            => :check_boxes
  %>

  <%= f.button :submit, "Пригласить" %>
<% end %>