<!DOCTYPE html>
<%%= ie_html :class => 'no-js', :lang => :en do %>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <%%= csrf_meta_tag %>

    <title><%= raw page_title %></title>
    <meta name="description" content="">
    <meta name="author" content="RocketScience">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="/favicon.ico">
    <script>document.documentElement.className = document.documentElement.className.replace('no-js', 'js');</script>

    <%= airbrake_javascript_notifier if defined?(Airbrake) %>

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <%%= stylesheet_link_tag "application" %>
    <%%= javascript_include_tag "application" %>
  </head>
  <body id="<%%= page_id %>" class="<%= 'signed-in' if user_signed_in? %>">
    <%%= rs_toolbar %>
    <%%= flash_messages %>
    
    <div id="main-wrapper">
      <header id="header">
        <h1><%%= link_to_unless_current 'Welcome aboard!', main_app.root_path %></h1>
      </header>

      <div id="body">
        <section id="content" class="content">
          <%%= yield %>
        </section>

        <aside>
          <%%= content_for?(:sidebar) ? yield(:sidebar) : render("shared/sidebar") %>
        </aside>
      </div>
    </div>

    <footer id="footer">
      <p>
        This application was generated with <%%= link_to 'Playmo', 'http://github.com/tanraya/playmo' %> gem
      </p>
    </footer>
  </body>
<%% end %>
