<%= simple_form_for(@post, :validate => true) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :published_at, :as => :datepicker %>
    <%= f.input :hot, :as => :boolean, :inline_label => true, :label => false %>
    <%= f.input :article, :collection => 18..60 %>
    <%= f.input :author_email %>
    <%= f.input :author_url %>
    <%= f.input :author_phone %>
    <%#= f.collection_check_boxes :article, [[true, 'Yes'] ,[false, 'No']], :first, :last %>
    <%#= f.collection_radio_buttons :article, [[true, 'Yes'] ,[false, 'No']], :first, :last %>
    <%= f.association :tags, :collection => @post.tags, :as => :check_boxes %>
    <%= f.association :tags, :collection => @post.tags, :as => :radio_buttons %>
    <%= f.input :article, :as => :file %>
    <%= f.input :article %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
