<%= heading_with_title "Список Posts" %>

<% if @posts.any? %>
  <ul id="posts-list">
  <% @posts.each do |post| %>
      <li><%= link_to post.title, post %></li>
    <% end %>
  </ul>
<% else %>
  <p>Тут ещё ничего нет.</p>
<% end %>