<div id="post">
  <%= heading_with_title @post.title %>
  
  <dl>
      
    <dt>Title:</dt>
    <dd><%= @post.title %></dd>
    
    <dt>Published at:</dt>
    <dd><%= @post.published_at %></dd>
    
    <dt>Hot:</dt>
    <dd><%= @post.hot %></dd>
    
    <dt>Author email:</dt>
    <dd><%= @post.author_email %></dd>
    
    <dt>Author url:</dt>
    <dd><%= @post.author_url %></dd>
    
    <dt>Author phone:</dt>
    <dd><%= @post.author_phone %></dd>
    
    <dt>Article:</dt>
    <dd><%= @post.article %></dd>
        
  </dl>
  
</div>