<h2>Здравствуйте, <%= @resource.email %>!</h2>

<p>Вас приглашают зарегистрироваться на сайте <%= root_url %>, вы можете принять приглашение, нажав на ссылку ниже.</p>

<p><%= link_to 'Принять приглашение', accept_invitation_url(@resource, :invitation_token => @resource.invitation_token) %></p>

<p>Если вы не хотите принимать приглашение, просто проигнорируйте это письмо.<br />
Ваш аккаунт не будет создан до тех пор, пока вы не не нажмете на ссылку выше и не установите ваш пароль, перейдя по ссылке.</p>
