<h2>Здравствуйте, <%= @resource.username %>!</h2>

<p>Вы запросили смену пароля. Вы можете сменить пароль, нажав на ссылку ниже.</p>

<p><%= link_to 'Сменить пароль', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token, :subdomain => @resource.current_subdomain) %></p>

<p>Если вы не запрашивали смену пароля, просто проигнорируйте это письмо.</p>
