<%%= heading_with_title "Список <%= plural_table_name.camelize %>" %>
<%
  key = nil
  key = 'title' if attributes.any? {|x| x.name == 'title'}
  key = 'name'  if attributes.any? {|x| x.name == 'name'}
%>
<%% if @<%= plural_table_name %>.any? %>
  <ul id="<%= plural_table_name %>-list">
  <%% @<%= plural_table_name %>.each do |<%= singular_table_name %>| %>
  <% if ['title', 'name'].include?(key) -%>
    <li><%%= link_to <%= singular_table_name %>.<%= key %>, <%= singular_table_name %> %></li>
  <% else -%>
    <li><%%= link_to 'Show', <%= singular_table_name %> %></li>
  <% end -%>
  <%% end %>
  </ul>
<%% else %>
  <p>Тут ещё ничего нет.</p>
<%% end %>