<%
  key = nil
  key = 'title' if attributes.any? {|x| x.name == 'title'}
  key = 'name'  if attributes.any? {|x| x.name == 'name'}
-%>
<div id="<%= singular_table_name %>">
<% if ['title', 'name'].include?(key) -%>
  <%%= heading_with_title @<%= singular_table_name %>.<%= key %> %>
<% else -%>
  <%%= heading_with_title "<%= singular_table_name.camelize %>" %>
<% end -%>
  
  <dl>
  <% if attributes.any? -%>
    <% attributes.each do |attribute| %>
    <dt><%= attribute.human_name %>:</dt>
    <dd><%%= @<%= singular_table_name %>.<%= attribute.name %> %></dd>
    <% end -%>
  <% else %>
    <dt>Attribute Name:</dt>
    <dd>Attribute Value</dd>
  <% end %>  
  </dl>
  
</div>