<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <%= yield %>

    <hr>
    <p>
      <a href="<%= root_url %>"><%= root_url %></a>, <%= Time.now.year %>. УрАО.
    </p>
  </body>
</html>